/* /* Mobile Devices / */
@media only screen and (max-width: 480px) {

}

/* /* Tablets / */
@media only screen and (min-width: 480px) and (max-width: 768px) {

}

/* /* Small Screens and Laptops / */
@media only screen and (min-width: 769px) and (max-width: 1269px) {

}

/* /* Desktops and Large Screens / */
@media only screen and (min-width: 1269px) and (max-width: 1501px) {
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: #1C252A;
        margin: 0 200px;
        font-family: 'Fira Code', monospace;
        color: white;
    }

    .exchange-form-container{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

   

    .exchange-left-list{
        width: 40%;
    }
.exchange-main-container{
    display: flex;
}

.exchange-select-field{
    font-size: 16px;
    color: black;
    height: 50px;
    height: 30px;
    
}



.exchange-amount-input{
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fcc81c;
    color: white;
    font-size: 16px;
    height: 20px;
    
}

}

/* 
/* Extra Large Screens and TV / */
@media only screen and (min-width: 1501px) {
}