body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1C252A;
    margin: 0 200px;
    font-family: 'Fira Code', monospace;
}


.LoginFavorite-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.LoginFavorite-title{
    padding-top: 120px;
    font-size: 29px;
    color: white;
    font-style: normal;
    font-weight: 600;
    width: 778px;
    height: 47px;
}

.LoginFavorite-btn{
   width: 100px;
   text-align:  center;
    background: #FCC81C;
    border-radius: 2px;
    font-family: 'Fira Code';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    border: none;
    cursor: pointer;
    color: #1C252A;
    text-decoration: none;
height: 20px;
padding: 10px;
 
}